.webdeveloper-toolbar-button
{
  list-style-image: url("chrome://mozapps/skin/webdeveloper/webdev-toolbar.png") !important;
}
.webdeveloper-statusbar-button
{ 
  list-style-image: url("chrome://mozapps/skin/webdeveloper/webdev-statusbar.png") !important; 
}
.webdeveloper-sidebar-button
{
 list-style-image: url("chrome://mozapps/skin/webdeveloper/webdev-sidebar.png") !important;
}

/* ::::: side bar ::::: */

#webdeveloper-edit-css-sidebar toolbar {
  border-left: none;
  border-right: none;
}

#webdeveloper-edit-css-tab-panels {
  -moz-appearance: none;
  padding: 0;
  border: none;
}

#webdeveloper-edit-css-tab-panels textbox {
  margin: 0;
}